services:
  php:
    build: .
    volumes:
      - ./:/var/www/html
    ports:
      - "8000:80"
    environment:
      DOCKER_ENV: "true"
    
  mysql:
    image: mysql:8
    environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: webform_db
    ports: 
      - "3307:3306"
    volumes:
      - "./data/mysql:/var/lib/mysql"
      - "./mysql-init:/docker-entrypoint-initdb.d"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
        PMA_HOST: mysql
    ports:
      - "8080:80"