services:
  php:
    image: php:8.2-apache
    volumes:
      - ./:/var/www/html
    ports:
      - "8000:80"
    
  mysql:
    image: mysql:8
    environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: webform_db
    ports: 
      - "3306:3306"
    volumes:
      - "./data/mysql:/var/lib/mysql"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
        PMA_HOST: mysql
    ports:
      - "8080:80"