body {
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 420px;
    padding: 20px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-inline {
    width: 100%;
    display: flex;
    gap: 10px;
}

label {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 3px;
}

input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #999;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

/*  */
.login {
    display: flex;
    flex-direction: column;
    gap:2vh;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    border-radius: 5px;
    height: 75vh;
    width: 90%;
    padding: 20px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    padding: 2vh;
    background-color: #FFF;
    border-radius: 2vh;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.loginForm form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginForm form button{
    color:black;
}


/*  */


.form-row {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
}

button {
    background-color: #e0e0e0;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 6px 12px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #d0d0d0;
}


/*  */
.dashboard {
    display: flex;
    flex-direction: column;
    gap:2vh;
    align-items: center;
    gap: 2vh;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 75vh;
    width: 90%;
    padding: 20px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.navBar {
    padding: 2vh;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    color: white;
    gap:2;
    text-align: center;
    grid-area: a;
}

.loginSection {
    grid-area: b;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    margin-top: auto;
    border-radius: 2vh;
    padding: 1vh;
}

.usersList {
    display: flex;
    flex: 1;
    flex-direction: column;
    grid-area: c;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    gap: 1vh;
}

a {
    text-decoration: none;
}

.userCard {
    display: flex;
    gap:2vh;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
}

.btnCRUD {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    margin-top: 1vh;
}

.bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar button {
    background-color: #0fa2e6;
}

.btnFirst {
    max-height: 25px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    color: white
}

.bar a {
    color: white;
}